<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="userName"
            />
            <div class="alert aler-danger"></div>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" />
            <span class="error-block">
              <span> Please provide an Email Id </span>
              <span> Please provide valid Email Id </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
            <span class="error-block">
              <span> Please provide a password </span>
              <span> Password must be at least 8 characters </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
            />
            <span class="error-block">
              <span> Please Confirm Password </span>
            </span>
            <span> Password not Matched </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input
              type="number"
              class="form-control"
              formControlName="mobile"
            />
            <span class="error-block">
              <span> Please provide a Mobile </span>
              <span> Password should be 10 characters </span>
            </span>
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary m-2">Cancel</button>
          </div>
          Form Values: {{ registrationForm.value | json }} <br />
          Form Status: {{ registrationForm.valid }}
        </form>
      </div>
    </div>
  </div>
</div>
