<div class="row mb-10">
  <div class="col-8">
    <div class="card">
      <div class="card-header text-center">
        <h3>List your Property</h3>
      </div>
      <div class="card-body shadow-lg p-3 mb-5 bg-body rounded">
        <form #Form="ngForm" (ngSubmit)="onSubmit()">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" ngModelGroup="BasicInfo" #BasicInfo="ngModelGroup">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup ngModel name="SellRent" required>
                    <label
                      class="btn btn-outline-primary me-2"
                      btnRadio="1"
                      role="button"
                      name="SellRent"
                      >Sell</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      role="button"
                      name="SellRent"
                      >Rent</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <!-- BHK => Bedroom, Hall, Kitchen -->
                  <p>BHK</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    [(ngModel)]="propertyView.BHK"
                    name="BHK"
                  >
                    <label
                      *ngFor="let bhk of ['1', '2', '3', '4']"
                      class="btn btn-outline-primary"
                      [btnRadio]="bhk"
                      role="button"
                      name="BHK"
                      >{{ bhk }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    name="propType"
                    [(ngModel)]="propertyView.PType"
                  >
                    <label
                      *ngFor="let ptype of propertyTypes"
                      class="btn btn-outline-primary"
                      [btnRadio]="ptype"
                      role="button"
                      name="BHK"
                      >{{ ptype }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Furnish Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    [(ngModel)]="propertyView.FType"
                    name="FType"
                  >
                    <label
                      *ngFor="let ftype of furnishTypes"
                      class="btn btn-outline-primary"
                      [btnRadio]="ftype"
                      role="button"
                      name="ftype"
                      >{{ ftype }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="Name" type="text"
                    >In building / Society / Project</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    #name="ngModel"
                    ngModel
                    name="Name"
                    minlength="5"
                    required
                    [(ngModel)]="propertyView.Name"
                  />
                  <div
                    *ngIf="name.invalid && name.touched"
                    class="alert alert-danger"
                  >
                    <div *ngIf="name.errors?.required">
                      Please provide a name!
                    </div>
                    <div *ngIf="name.errors?.minlength">
                      Name must be more than 5 characters!
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label type="text">City</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="propertyView.City"
                    name="city"
                  />
                </div>
                <div class="form-group col-12 mt-3 d-grid gap-2">
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(1)"
                    [disabled]="BasicInfo.invalid"
                  >
                    Next
                  </button>
                </div>
              </tab>
              <!-- ////////////////  Pricing  //////////////// -->
              <tab heading="Pricing and Area">
                <div class="form-group col-12">
                  <label>Price (in USD)</label>
                  <input
                    type="text"
                    class="form-control"
                    name="price"
                    [(ngModel)]="propertyView.Price"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Security (in USD)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Maintenance (in USD)</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="propertyView.BuiltArea"
                    name="builtArea"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12 mt-3 d-grid gap-2">
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(2)"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(0)"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <!-- ////////////////  Address  //////////////// -->
              <tab heading="Address">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" />
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12 mt-3 d-grid gap-2">
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(3)"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(1)"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <!-- ////////////////  Other Detailes  //////////////// -->
              <tab heading="Other Details">
                <div class="form-group col-3">
                  <label>Possession/Avaialble From</label>
                  <input
                    type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="1"
                      role="button"
                      name="yes"
                      >Yes</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      role="button"
                      name="no"
                      >No</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup>
                    <label
                      *ngFor="let rtm of readyToMove"
                      class="btn btn-outline-primary"
                      [btnRadio]="rtm"
                      role="button"
                      name="yes"
                      >{{ rtm }}</label
                    >
                  </div>
                </div>
                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    rows="6"
                  ></textarea>
                </div>
                <div class="form-group col-12 mt-3 d-grid gap-2">
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(4)"
                  >
                    Next
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(2)"
                  >
                    Back
                  </button>
                </div>
              </tab>
              <!-- ////////////////  Photos  //////////////// -->
              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br />
                    This is under construction
                  </div>
                </div>
                <div class="form-group col-12 mt-3 d-grid gap-2">
                  <button
                    type="button"
                    class="btn btn-primary me-3"
                    (click)="selectTab(3)"
                  >
                    Back
                  </button>
                  <button type="reset" class="btn btn-primary me-3">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary me-3">
                    Save
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header text-center">
      <h3>Your property preview</h3>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <property-card
        [property]="propertyView"
        [hideIcons]="true"
      ></property-card>
    </div>
  </div>
</div>
